.env
gallery/__pycache__/*
api/__pycache__/*
api/migrations/__pycache__/*
beautiHub/__pycache__/*
login/__pycache__/*
gallery/migrations/__pycache__/*
webservice/__pycache__/*
login/migrations/__pycache__/*
webservice/migrations/__pycache__/*