{% extends 'base.html' %}

{% block content %}
 {%  load static %}
<section class="vh-100" style="background-color: #2779e2;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <h1 class="text-white mb-4">Add Profile</h1>
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <form method="POST" action="../gallery/add_profiles" enctype="multipart/form-data">
               {%csrf_token%}
            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Full name</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" name="name" class="form-control form-control-lg" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Age</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="number" name="age" class="form-control form-control-lg" placeholder="" />
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Description</h6>
              </div>
              <div class="col-md-9 pe-5">
                <textarea class="form-control" name="description" rows="3" placeholder="Enter Description:"></textarea>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Upload Image</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input class="form-control form-control-lg" id="profile_image" name="profile_image" type="file" multiple />
                <div class="small text-muted mt-2">Upload your image or any other relevant file. Max file
                  size 50 MB</div>
              </div>
            </div>
            <hr class="mx-n3">
            <div class="px-5 py-4">
              <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
