{%  load static %}
<footer class="footer bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">BeautyHub.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
<script>
     $(document).ready(function(){
            $('.nav-link').click(function(){
                 $(".nav-link.active").removeClass('active text-primary');
                 $(this).addClass('active text-primary');
            });
        });
</script>
</script>
</html>
