
{% extends 'base.html' %}

{% block content %}
 {%  load static %}
    <div class="grid-container mt-5 p-2" style="min-height: calc(100vh - 58px);">
      <div class="grid-item">
        <img src="{% static 'images/dhruvi.jpeg' %}" alt="Image 1">
      </div>
      <div class="grid-item">
        <img src="{% static 'images/ay.jpeg' %}" alt="Image 2">
      </div>
      <div class="grid-item">
        <img src="{% static 'images/ds.jpeg' %}" alt="Image 3">
      </div>
      <div class="grid-item">
        <img src="{% static 'images/dsh.jpeg' %}" alt="Image 3">
      </div>
      <!-- Add more grid items with images as needed -->
    </div>
{% endblock %}
